<div class="buttons-left-right">
    <button onclick="nextPreview('preview')" class="arrow-page"><i class="fa-solid fa-arrow-left"></i></button>
    <button onclick="nextPreview('next')" class="arrow-page"><i class="fa-solid fa-arrow-right"></i></button>
</div>