<!--NAVBAR PART-->
<div class="nav-hole">

</div>
<div id="navbar" class="navbar">
    <ul>
        <li id="home">
            <a href="/home">
                <i class="fa-solid fa-house"></i>
                <span class="text">Home</span>
            </a>
        </li>
        <li id="sendMsg">
            <a href="/sendMsg">
                <i class="fa-solid fa-paper-plane"></i>
                <span class="text">SAM</span>
            </a>
        </li>
        <li id="trend">
            <a href="/trend">
                <i class="fa-solid fa-bomb"></i>
                <span class="text">Trend</span>
            </a>
        </li>
        <li id="pesquisar">
            <a href="/search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span class="text">pesquisar</span>
            </a>
        </li>
    </ul>

    <div id="footer"> Todos os direitos reservados! - 2022 </div>
</div>
<!-- //////// NAVBAR PART-->