<!--MODAL-->
<div id="modal" style="display: none;">
    ss
    <div id="card-modal-info" >
        <div class="closeLayer" onclick="closeModal('investors-table', [0], false)"></div>
        <span class="closeModal" onclick="closeModal('modal')">X</span>
        <div>
            <div class="main-card-info">
                <div class="card-modal-images">
                    
                </div>
                <div class="main-info">
                    <div class="model-title">
                        
                    </div>
                    <div class="model-sub">
                        
                    </div>
                </div>
            </div><br>


            <div class="bottom-info">
                <div class="card-modal-idea">

                </div>

                <div class="game-idea-buttons">
                    <button class="actionButton"><i class="fa-solid fa-hand-holding-dollar"></i></button>
                    <button class="actionButton"><i class="fa-solid fa-scroll"></i></button>
                </div>

                <div class="modal-category">
                    <div> #Category </div>
                    <div> @Maison </div>
                    <div>05/29/2022 </div>
                </div>
            </div>
        </div>
    </div>
    <div id="investors-table">
    
        
    </div>
</div>

<div id="sure">
    <div class="sure-container">
        <span onclick="closeModal('sure', null, false)"><b>X</b></span>
        <h1>VOCÊ TEM CERTEZA QUE:</h1>
        <h2 id="sureMsg">irá utilizar R$ *** do seus créditos para realizar esta ação?</h2>
        <button class="green-button" onclick="confirmPurchase('<%=id%>')">SIM</button> <button onclick="closeModal('sure', null, false)" class="red-button">NÃO</button>
    </div>
</div>

<div id="statusModal">

    <div class="statusModal-container">

    </div>

</div>

<div id="investmentMsgModal">
    <div class="closeLayer" onclick="closeModal('investmentMsgModal', [1], false)"></div>
    <div id="investmentMsgContainer">

    </div>
</div>






<!--////////////MODAL-->