<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbarCss.css">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <div id="qrCodeDonate">
        <p>pode ajudar os projetos sociais com 10 R$?</p>
        <img src="<%=qrCode%>" alt="">
            <input type="text" id="qrcodeTxt" value="<%=qrCodeTxt%>">    
        <button class="btn-to-copy green-button" data-clipboard-target="#qrcodeTxt">
            <p>Copiar código pix</p>
        </button>
        <a href="/trend" style="font-size: 18px;text-decoration: underline;">Eu tenho uma conta e quero que contabilize nas minhas informações de doações.</a>
    </div>
    <br><br><br>
    <div id="content">
        <div id="partnerships">
            <h2>Parcerias ou ongs doadas: </h2>
            <p>por enquanto nada :(</p>
        </div>
<hr><hr>
        <div id="mswareg">
            <h1>informações gerais</h1>
            <h2>Dezembro: </h2>
            <div id="mswareg-info">
                <p>Quantos usuários investiram em projetos: <span style="color: rgb(255, 0, 0);">**</span> usuários</p>
                <p>Quantos projetos receberam investimentos: <span style="color: blue;">**</span> projetos</p>
                <p>Quantas novas contas foram criadas (com verificação): <span style="color: rgb(255, 6, 6);">**</span> contas criadas</p>
                <p>Quantia arrecadada com investimentos em projetos: <span style="color: blue;">**</span> R$</p>
                <p>Porcentagem sobre item anterior será dividida entre as ongs e projetos: <span style="color: blue;">**%</span></p>
                <p>Valor per ong: <span style="color: blue;">**R$</span></p>
                <p>Quantos projetos iniciaram o desenvolvimento: <span style="color: rgb(255, 0, 0);">**</span> projetos</p>
            </div>
        </div>
    </div>

        <%- include('./partials/footer.ejs') %>

</body>
<script src="https://kit.fontawesome.com/4fd5a3a7ad.js" crossorigin="anonymous"></script>
<script>
    document.getElementById('aboutUs').classList.add('active')
</script>
<script src="/js/getNavDown.js"></script>
<script src="/js/clipboard.js-master/dist/clipboard.min.js"></script>
<script src="/js/clipboard.js"></script>
</html>