<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mswareg</title>
    <link rel="stylesheet" href="/css/cropImg.css">
    <link rel="icon" href="/img/MusclePoints/mswaregLogo.jpg">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2467408169618011"
        crossorigin="anonymous"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-V874Y4SK29"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-V874Y4SK29');
        </script>

</head>
<body>

    <input id="userId" type="hidden" value="<%=userId%>">
    <% if((typeof username) != 'undefined' ){%>
    <input id="usname" type="hidden" value="<%=username%>">
    <%}%>
    <% if(typeof pubIdeaId != 'undefined'){%>
    <input id="pubIdeaId" type="hidden" value="<%=pubIdeaId%>">
    <%}%>
        <div style="height: 100px;"></div>

    <div class="crop-container">
        <div id="cropImg">
            <!-- <div class="circle-crop">
                
            </div> -->
           <img id="photoPreview" draggable="false" src="" alt="">
           
        </div>

        
        <div id="actionButton">
            <div>
                <button id="buttonPhotoFile">Select Image</button>
                <input type="file" id="photoFile">
            </div>
            <div id="zooms">
                <button onclick="zoom('+')"> + </button>
                <button onclick="zoom('-')"> - </button>
            </div>
            <div id="confirmCrop">
                <button onclick="confirmCropFunction('no')">NO</button>
                <button onclick="confirmCropFunction('yes')">YES</button>
            </div>
            <button id="cropButton" onclick="croppingImg()">CROP</button>
        </div>
           
    </div>

        <div style="height: 200px;"></div>



    <img draggable="false" class="format circle" id="topCircle" src="/img/topCircle.png" width="150" alt="">
    <img draggable="false" class="format circle" id="rightCircle" src="/img/rightCircle.png" height="150" alt="">
    <img draggable="false" class="format circle" id="bottomCircle" src="/img/bottomCircle.png" width="150" alt="">
    <img draggable="false" class="format circle" id="leftCircle" src="/img/leftCircle.png" height="150" alt="">

    <img draggable="false" class="format square" id="topSquare" src="/img/bt.png" width="308" alt="">
    <img draggable="false" class="format square" id="rightSquare" src="/img/br.png" height="415" alt="">
    <img draggable="false" class="format square" id="bottomSquare" src="/img/bb.png" width="324" alt="">
    <img draggable="false" class="format square" id="leftSquare" src="/img/bl.png" height="400" alt="">

</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
</script>

<script>
    const currentFormat = `<%=currentPage%>`
</script>
<script src="/js/cropImg.js">
</script>


</html>