<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seus Feedbacks :)</title>
    <link rel="stylesheet" href="/css/feedbacksReportsScreen.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/menuSettingsButton.css">

</head>
<body>

    <%- include('./partials/floatingMenu.ejs') %>

    
    <div id="feedbackReportScreen">
        <!-- container feedback-Report or FR -->
        <div id="containerFR">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="feedbacks-tab" data-toggle="tab" href="#feedbacks" role="tab" aria-controls="feedbacks"
                        aria-selected="true" onclick="listFeedbackReports('feedbacks')">Feedbacks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="reports-tab" data-toggle="tab" href="#reports" role="tab" aria-controls="reports"
                        aria-selected="false" onclick="listFeedbackReports('reports')">Reports</a>
                </li>
                <div class="listFeedbacks-reports" id="feedbacksList">
                    <div onclick="openSelection('feedback')">
                        Usu치rio: Maison <br>
                        Jogo: sword Art online
                    </div>
                    <div onclick="openSelection('feedback')">
                        Usu치rio: Maison <br>
                        Jogo: sword Art online
                    </div>
                    <div onclick="openSelection('feedback')">
                        Usu치rio: Maison <br>
                        Jogo: sword Art online
                    </div>
                </div>

                <div class="listFeedbacks-reports" id="reportsList">
                    <!-- APENAS PARA MODERADORES! -->
                    <!-- <div onclick="openSelection('report')">
                        Usu치rio: Maison <br>
                        Jogo: sword Art online
                        categoria: outros
                    </div> -->
                </div>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="feedbacks" role="tabpanel" aria-labelledby="feedbacks-tab">
                    <div class="tab-container" id="feedbacks-tab-container">
                        <i onclick="returnToList()" class="fa-solid fa-arrow-left"></i>
                            <h1>FEEDBACK</h1>
                        
                        <h4>From: Maison</h4>
                        <h4>Idea: sword art online</h4>

                        <p>
                            "TEXTO TEXTO TEXTOTEXTOTEXTO TEXTOTEXTO TEXTO TEXTO TEXTO TEXTOTEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTOTEXTO"
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
                    <div class="tab-container" id="reports-tab-container">
                        <div>
                            <i onclick="returnToList()" class="fa-solid fa-arrow-left"></i>
                            <h1>REPORT</h1>
                            
                            <h4>From: Maison</h4>
                            <h4>Idea: sword art online</h4>
                            <h4>Categorie: others</h4>
                            
                            <p>
                                "TEXTO TEXTO TEXTOTEXTOTEXTO TEXTOTEXTO TEXTO TEXTO TEXTO TEXTOTEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
                                TEXTO TEXTO TEXTOTEXTO"
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>


</body>
<script src="/js/menuSettingsButton.js"></script>
<script>
    createMenuSettingsButton(20, 350)
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/4fd5a3a7ad.js" crossorigin="anonymous"></script>


<script>

    function listFeedbackReports(tab){
        if (tab == "feedbacks") {
            console.log('entrou feedbacks')
            
            document.getElementById('reports-tab-container').style.display = "none"
            
            document.getElementById('reportsList').style.display = 'none';
            document.getElementById('feedbacksList').style.display = 'initial';
        }else{
            document.getElementById('feedbacks-tab-container').style.display = "none"
            
            console.log('entrou reportsList')
            document.getElementById('feedbacksList').style.display = 'none'
            document.getElementById('reportsList').style.display = 'initial'
        }
    }

    //from where?
    function openSelection(fromW){

        if (screen.availWidth <= 400) {
            if (fromW == 'feedback') {
                document.getElementById('feedbacks-tab-container').style.display = "flex"
                document.getElementById('reports-tab-container').style.display = "none"
                document.getElementById('myTab').style.display = 'none'
            }else{
                document.getElementById('reports-tab-container').style.display = "flex"
                document.getElementById('feedbacks-tab-container').style.display = "none"
                document.getElementById('myTab').style.display = 'none'
            }
        } else {
            if (fromW == 'feedback') {
                document.getElementById('feedbacks-tab-container').style.display = "flex"
                document.getElementById('reports-tab-container').style.display = "none"

            } else {
                document.getElementById('reports-tab-container').style.display = "flex"
                document.getElementById('feedbacks-tab-container').style.display = "none"

            }
            document.getElementById('feedbacks-tab-container').style.display = "flex"
        }
    }

    function returnToList(){


        if (screen.availWidth <= 400) {
            document.getElementById('myTab').style.display = 'flex'
        }else{
            document.getElementById('feedbacks-tab-container').style.display = "none"   
        }
    }
    console.log(screen.availWidth)

    

</script>

</html>