<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2467408169618011"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <input type="text" id="newPassword" placeholder="New Password">
    <input type="text" id="confirmPassword" placeholder="confirm new pass">
    <button onclick="confirmPassChange('<%=token%>', '<%=email%>')">CONFIRM</button>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
</script>

<script src="/js/recoveryPass.js">
</script>


</html>