<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mswareg - Registro</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sign.css">
    <link rel="icon" href="/img/logo.jpeg">
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2467408169618011"
        crossorigin="anonymous"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-V874Y4SK29"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-V874Y4SK29');
        </script>

    <style>
        #content {
            background-color: rgb(219, 219, 219);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-direction: column;
        }

        #content form {
            display: flex;
            flex-direction: column;
        }

        #content form input {
            outline: none;
            height: 50px;
            width: 300px;
            border-radius: 10px;
            border: none;
            margin-bottom: 15px;
            font-size: 20px;
        }

        #content form button {
            height: 50px;
            width: 300px;
            outline: none;
            border: 5px solid brown;
            border-radius: 15px;
            font-size: 20px;
            background-color: rgb(46, 46, 46);
            color: white;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <% if(typeof(error) != 'undefined'){%>
        <div class="errorMsg">
            <b>
                Nome ou email de usuário já existem, por favor colocar informações diferentes.
            </b>
        </div>
    <%}%>
    <% if(typeof(dbError) !='undefined' ){%>
        <div class="errorMsg">
            <b>
               Estamos enfrentando dificuldades com o banco de dados, por favor, tente novamente ou mais tarde.
            </b>
        </div>
        <%}%>


    <div id="content">
        <h1>Mswareg</h1>
        <form action="/register" method="post">
            <input type="text" id="username" name="username" placeholder="username">
            <input type="text" id="email" name="email" placeholder="email" required>
            <input type="password" id="password" name="password" placeholder="password">
            <button id="registerBtn">register</button>
        </form>
        <a href="/login">I already have an account</a>
    </div>



</body>

<script src="/js/register.js">

    

</script>

</html>