<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sign.css">

    <style>
        #content {
            background-color: rgb(219, 219, 219);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex-direction: column;
        }

        #content form {
            display: flex;
            flex-direction: column;
        }

        #content form input {
            outline: none;
            height: 50px;
            width: 300px;
            border-radius: 10px;
            border: none;
            margin-bottom: 15px;
            font-size: 20px;
        }

        #content form button {
            height: 50px;
            width: 300px;
            outline: none;
            border: 5px dotted brown;
            border-radius: 15px;
            font-size: 20px;
            background-color: rgb(46, 46, 46);
            color: white;
            font-weight: bold;
        }
    </style>
</head>

<body>


    <div id="content">
        <h1>MSGAMES</h1>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button>register</button>
        </form>
        <a href="/login">I already have an account</a>
    </div>



</body>

</html>