<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menuSettingsButton.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/wallet.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
    </script>
    <title>Financeiro</title>
</head>
<body>
    <input type="hidden" id="userId" value="<%=userData.id%>">
    <input type="hidden" id="currentCredits" value="<%=userData.credits%>">
    
    
    <div id="modal-payment-method">
        <div class="payment-method-container">
            <button class="red-button" onclick="closeModal('modal-payment-method')">Close</button>
            <div id="qrcodeArea">
                
            </div>
            <input type="text" id="qrcodeTxt" disabled>
            <button onclick="copyTxt()" class="orange-button"> COPY TO CLIPBOARD </button>
        </div>
    </div>

    <div class="container">
        <h1>Recarregar dinheiro</h1>
        <p>Caso modal de pagamento não abrir, por favor espere e tente novamente.</p>
        <div class="WalletTable">
            <ul>
                <br><br><br>
                <li>
                    10 R$ <button class="green-button" onclick="fastBuy(10)">COMPRAR</button>
                    <p>Taxa de 1.5%</p>
                    <p>0,10R$ para caridade</p>
                    <p>0,5R$ para a empresa</p>

                </li>
                <li>
                    15 R$ <button class="green-button" onclick="fastBuy(15)">COMPRAR</button>
                    <p>Taxa de 1.5%: </p>
                    <p>0.15R$ para caridade/ações sociais - 1,00%</p>
                    <p>0.07R$ para a empresa - 0,5%</p>
                </li>
                <li>
                    30R$ <button class="green-button" onclick="fastBuy(30)">COMPRAR</button>
                    <p>0.30R$ para caridade/ações sociais</p>
                    <p>0.15R$ para a empresa</p>
                </li>
                <li>
                    50R$ <button class="green-button" onclick="fastBuy(50)">COMPRAR</button>
                    <p>0.50R$ para caridade/ações sociais</p>
                    <p>0.25R$ para a empresa</p>
                </li>
                <li>
                    100R$ <button class="green-button" onclick="fastBuy(100)">COMPRAR</button>
                    <p>1.00R$ para caridade/ações sociais</p>
                    <p>0.50R$ para a empresa</p>
                </li>
                <li>
                    1000R$ <button class="green-button" onclick="fastBuy(1000)">COMPRAR</button>
                    <p>10.00R$ para caridade/ações sociais</p>
                    <p>5.00R$ para a empresa</p>
                </li>
                <li>
                    <input id="recharge" type="number" placeholder="Choose your value">
                    <p id="automaticTax"></p>
                    <button id="buyButton" class="green-button">COMPRAR</button>
                </li>
            </ul>
        </div>
        <h1>Retirar dinheiro</h1>
        <div class="WalletTable">
            <div class="withdrawClass">
                você tem: <%= userData.credits %>R$ na carteira
                <input id="withdraw" type="number" placeholder="Quanto deseja retirar?">
                <button id="withdrawBtn" class="green-button">Retirar</button>
            </div>
        </div>
        <p>Sobre Retirada: Demora de 10min-2h para você receber o dinheiro em sua carteira.</p>
        <p>Você só pode solicitar 1 retirada por vez. Espere receber o dinheiro em sua carteira caso queira retirar novamente.</p>
    </div>
<%- include('./partials/floatingMenu.ejs') %>
</body>
<script src="https://kit.fontawesome.com/4fd5a3a7ad.js" crossorigin="anonymous"></script>

<script src="/js/menuSettingsButton.js">
</script>

<script src="/js/wallet.js"></script>

<script>
    createMenuSettingsButton(20,390)
</script>

<script src="/js/modal.js"></script>
</html>