@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
.comingSoon{
	background-color: rgb(143, 143, 143, 0.4);
	z-index: 10;
	position: absolute;
	height: 170px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#security .comingSoon {
	background-color: rgb(143, 143, 143, 0.4);
	z-index: 10;
	position: absolute;
	height: 330px;
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 991px){

#security .comingSoon {
		background-color: rgb(143, 143, 143, 0.4);
		z-index: 10;
		position: absolute;
		height: 330px;
		width: 600px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

}


#codeModal{
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(237, 237, 237, 0.5);
	z-index: 99;
}
#codeModal input{
	outline: none;
	border: 1px solid rgb(145, 145, 145);
	border-radius: 30px;
	font-size: 24px;
	
}
#codeContainer{
	background-color: #FFF;
	height: 300px;
	width: 300px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 10px;
}
#codeContainer button {
	border: none;
	margin-top: 10px;
	border-radius: 10px;
	font-size: 23px;
}