<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusclePointsBETA</title>
    <link rel="shortcut icon" href="/img/MusclePoints/logoMusclePoints.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/musclePoints/musclePointsIndex.css">
    <link rel="stylesheet" href="/css/musclePoints/musclePointsStyle.css">
</head>
<body>

    <div id="navbar-container">
        <img class="logo" src="/img/MusclePoints/mswaregLogo.jpg" alt="" height="90">
        <img src="/img/MusclePoints/crossedArrows.svg" alt="" height="50">
        <img class="logo" src="/img/MusclePoints/logoMusclePoints.png" alt="" height="90">

    </div>

    <div id="main-container">

        <div class="text-glow">
            <p class="glow">ACOMPANHE <br> SEUS RESULTADOS<br> DA MELHOR MANEIRA!</p>
            <button onclick="window.location.href = '/MusclePointsBETA/training'">VAMOS TREINAR!</button>
            <a href="/MusclePointsBETA/adminPanel">Abrir painel administrativo</a>
        </div>
        <div>
            <img class="muscleLogoWB" src="/img/MusclePoints/musclepointWithoutBackground.png" alt="">
        </div>

        <div id="carrousel-info">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="4000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div id="infoCard1" class="info-cards">
                            <h1>Se desenvolva!</h1>
                            <p>Se desenvolva monitorando <br> seus próprios resultados, aqui <br> no <span style="color: orange;">MusclePoints</span></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="info-cards">
                            <h2>Maximize seus resultados!</h2>
                            <div class="d-flex instrutorCard">
                                <img class="instrutorImg" src="/img/MusclePoints/instrutor.svg" alt="">
                                <p>Alcance seus objetivos <span class="dontShowAtMobile">de forma mais fácil e eficiente</span> com a ajuda do seu personal trainer/instrutor e do
                                    <span style="color: orange;">MusclePoints</span></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
    
    


    
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>